{% extends "layout.html" %}
{% block container %}
    <div class="container">
      <div class='col-md-6 col-md-offset-3' id='main-content'>
      
        <blockquote align='center' class="twitter-tweet" lang="en">
          <p>Need to quit league? Let bsBot publicly humiliate you for playing league when you vowed not to. Sign up now</a> <a href="http://t.co/OvBf3K570d">pic.twitter.com/OvBf3K570d</a>
          </p>&mdash; bsbot_lol (@bsbot_lol) <a href="https://twitter.com/bsbot_lol/statuses/417112980606558208">December 29, 2013</a>
        </blockquote>

      
        <div class="col-sm-4 col-sm-offset-4">
          <button class='btn btn-link btn-lg btn-block' data-toggle='modal' data-target='#myModal'>signup</button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">bsBot signup</h4>
              </div>

              <form class='form-signup' action="{{ url_for('index') }}" method="post">
              <div class="modal-body">
                  {{ form.hidden_tag() }}
                  <div class="input-group">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-fire"></span> </span>
                    {{ form.summonername(placeholder="Summoner name", class="form-control", autofocus="true") }}
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span> </span>
                    {{ form.twtid(placeholder="Twitter ID", class="form-control", autofocus="true") }}
                  </div>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        {% if category == 'error' %}
                          <div class='flash error'>
                            {{ message }} 
                          </div>
                        {% endif %}
                        {% if category == 'success' %}
                          <div class="flash success">
                            {{ message }}
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
              </div>
              <div class="modal-footer">
                <a href="https://twitter.com/bsbot_lol" class="twitter-follow-button pull-left" data-show-count="false" data-size="large">Follow @bsbot_lol</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"> Register </button>
              </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div>
    </div> <!-- /container -->

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
    <script>
        $(document).ready( function() {
            $('#myModal').modal('show');
        });

    </script>
      {% endif %}
    {% endwith %}
{% endblock %}
